h1{
    color: aqua;
}
.navbar{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    padding: 25px;
    font-family: consolas;
    text-align: center;
}
.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(221, 211, 11);
}
.navbar a:hover{
    color: whitesmoke;
    background-color: black;
    border-radius: 10%;
}
.card{
        border: 1px solid black;
    width: 350px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    /* margin-left: 40%; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card img{
    width: 100%;
    overflow: hidden;
}
.card button{
    border-style: none;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
}
.card button:hover{
    color: white;
    background-color: black;


}